<div id="contenedorGeneral" class="bg">
  <!-- Contenedor login -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Inicio de sesión</h5>

      <div class="col-md-12">
        <div class="form-row">
          <!-- Botón de login con Google -->
          <div class="col-md-6">
            <button class="btn btn-warning" id="botonGoogle">
              <fa name="google" animation=""></fa>oogle
            </button>
          </div>

          <!-- Botón de login con Facebook -->
          <div class="col-md-6">
            <button class="btn btn-primary" id="botonFacebook">
              <fa name="facebook-f" animation=""></fa>acebook
            </button>
          </div>
        </div>
      </div>

      <!-- Campo nombre de usuario -->
      <div class="col-md-12 mt-4">
        <label for="">Usuario</label>
        <input type="email" placeholder="ejemplo@gmail.com" class="form-control">
      </div>

      <!-- Campo contraseña -->
      <div class="col-md-12 mt-2">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" placeholder="Especifique su contraseña">
      </div>

      <!-- Entrar -->
      <div class="col-md-12 mt-4">
        <div class="form-row">
          <!-- Botón de entrada a la aplicación -->
          <div class="col-md-6">
            <button class="btn btn-primary" id="botonEntrar">
              <fa name="hand-point-right" class="mr-2"></fa>Entrar
            </button>
          </div>

          <!-- Registro del usuario -->
          <div class="col-md-6">
            <button class="btn btn-secondary" id="botonRegistro" data-toggle="modal" data-target="#modalRegistroUsuarios">
              <fa name="user-plus" class="mr-2"></fa>Registrarse
            </button>
          </div>
        </div>

        <div class="text-center mt-4">
          <a href="" id="botonRecuperacion" data-toggle="modal" data-target="#modalRecuperacionCuenta">¿Problemas
            para entrar?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Los modales se deberían de cargar desde otro componente ejemplo:'modal' -->

<!-- Modal de registro de usuarios -->
<div class="modal fade" id="modalRegistroUsuarios" tabindex="-1" role="dialog" aria-labelledby="modalRegistroUsuarios"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo usuario</h5>
        <button type="button" class="close cierreModal" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Campo nombre de usuario -->
        <div class="form-row">
          <!-- Nombre y apellidos del usuario -->
          <div class="col-md-4">
            <label for="">Nombre completo</label>
            <input type="email" placeholder="Nombre y apellidos" maxlength="100" class="form-control" required>
          </div>

          <!-- Fecha de nacimiento -->
          <div class="col-md-4">
            <label for="">Fecha de nacimiento</label>
            <input type="date" placeholder="dd/mm/yyyy" class="form-control" required>
          </div>

          <!-- Teléfono -->
          <div class="col-md-4">
            <label for="">Teléfono</label>
            <input type="number" maxlength="9" class="form-control">
          </div>

          <!-- Correo electrónico -->
          <div class="col-md-6 mt-2">
            <label for="">Correo electrónico</label>
            <input type="email" maxlength="70" placeholder="ejemplo@gmail.com" class="form-control" required>
          </div>

          <!-- Género -->
          <div class="col-md-3 mt-2">
            <label for="">Género</label>
            <select class="form-control" id="paisUsuario">
              <option>Femenino</option>
              <option>Masculino</option>
            </select>
          </div>

          <!-- País de residencia -->
          <div class="col-md-3 mt-2">
            <label for="">País de residencia</label>
            <select class="form-control" id="paisUsuario">
              <option>España</option>
              <option>Francia</option>
              <option>Italia</option>
              <option>Ucrania</option>
              <option>Rusia</option>
            </select>
          </div>

          <!-- Campo contraseña -->
          <div class="col-md-6 mt-2">
            <label for="">Contraseña</label>
            <input type="password" maxlength="50" minlength="10" class="form-control" placeholder="Especifique su contraseña"
              required>
          </div>

          <!-- Verificar contraseña -->
          <div class="col-md-6 mt-2">
            <label for="">Verificar Contraseña</label>
            <input type="password" maxlength="50" minlength="10" class="form-control" placeholder="Verifique su contraseña"
              required>
          </div>

          <div class="col-md-12">
            <!-- Imágen usuario -->
            <label for="" class="mt-3">Imágen perfil de usuario</label>
          </div>

          <div class="col-md-12">
            <div class="form-row">
              <div class="col-md-2">
                <!-- Si no se selecciona una imágen, la palicación le asignará una imágen por defecto -->
                <label class="btn btn-outline-warning" id="seleccionImagen" for="my-file-selector">
                  <input id="my-file-selector" type="file" onchange="$('#upload-file-info').html(this.files[0].name)">Explorar
                </label>
              </div>

              <div class="col-md-10">
                <span class="form-control" id="upload-file-info"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success">Registrar</button>
        <!-- Al cerrar el formulario se limpiara de forma automática -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de recuperación de la cuenta -->
<div class="modal fade" id="modalRecuperacionCuenta" tabindex="-1" role="dialog" aria-labelledby="modalRecuperacionCuenta"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Recuperar cuenta</h5>
        <button type="button" class="close cierreModal" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Campo nombre de usuario -->
        <div class="form-row">
          <label for="">Especifique el correo electrónico con el que realizó el registro en la
            aplicación.
            Se verificará la existencia del mismo y una vez finalizada la verificación, se le
            enviará un correo electrónico con los pasos a seguir para la recuperación de su cuenta.
          </label>

          <!-- Correo electrónico -->
          <div class="col-md-12 mt-2">
            <label for="">Correo electrónico del usuario</label>
            <input type="email" maxlength="70" placeholder="ejemplo@gmail.com" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <!-- Comprobar si existe el correo en la base de datos, en caso contrario lanzar mensaje de error 'Usuario no encontrado' -->
        <!-- En caso de existir, mandar un correo electrónico, indicando los pasos a seguir para el restablecimiento de la contraseña. -->
        <button type="button" class="btn btn-primary">Recuperar</button>
        <!-- Al cerrar el formulario se limpiara de forma automática -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Script que inyecta el nombre del documento seleccionado en el campo -->
<script>
  $('input[type="file"]').on('change', function () {
    let filenames = [];
    let files = document.getElementById('logo').files;

    for (let i in files) {
      if (files.hasOwnProperty(i)) {
        filenames.push(files[i].name);
      }
    }

    $(this).next('.custom-file-label').addClass("selected").html(filenames.join(', '));
  });

</script>
