<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav>
        <ul>
          <!--Con el Router Link pasamos la ruta de la URL y se cargara el componente en el tag router-oulet -->
          <li><a [routerLink]="[ '/login']" [routerLinkActive]="['activado']">Login</a></li>
          <li><a [routerLink]="[ '/articulos']" [routerLinkActive]="['activado']">Articulos</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <app-slider-nav></app-slider-nav>
    </div>
    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>







