<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10"  *ngFor="let articulo of articulos">
      <mat-card>
        <mat-card-title>{{articulo.titulo}}</mat-card-title>
          <mat-card-content>{{articulo.texto}}</mat-card-content>
          <mat-card-footer>
            <div class="footer">
              <p>{{articulo.autor}}</p>
              <p>{{articulo.fechaCreacion}}</p>
            </div>
          </mat-card-footer>
        </mat-card>
    </div>
  </div>
</div>
<paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>